<script src="@Url.Content("~/Scripts/historial.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/municipios.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/select_estados.js")"></script>
<!-- Inbox area Start-->
<div class="inbox-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="inbox-text-list sm-res-mg-t-30">
                    <div class="form-group">
                        <div class="nk-int-st search-input search-overt">
                            <input id="folio" type="text" class="form-control" placeholder="Buscar orden de envio..." />
                            <button onclick="cargarTabla();" class="btn search-ib">Buscar</button>
                        </div>
                    </div>
                    <div class="inbox-btn-st-ls btn-toolbar">
                        <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                            <button class="btn btn-default btn-sm" onclick="add();">
                                <i class="notika-icon notika-plus-symbol"></i>
                                Agregar
                            </button>
                            <button class="btn btn-default btn-sm">
                                <i class="notika-icon notika-eye"></i>
                                Ver orden
                            </button>
                            <button class="btn btn-default btn-sm" onclick="edit();">
                                <i class="notika-icon notika-icon notika-draft"></i>
                                Editar
                            </button>
                            <button class="btn btn-default btn-sm" onclick="del();">
                                <i class="notika-icon notika-trash"></i>
                                Borrar
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="table-historiales" class="table table-striped datatable-selection-single">
                            <thead>
                                <tr>
                                    <th id="ide" hidden>Id</th>
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                    <th>Ciudad</th>
                                    <th>Estado de Paquete</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th id="ide" hidden>Id</th>
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                    <th>Ciudad</th>
                                    <th>Estado de Paquete</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inbox area End-->

<div class="modal fade" id="mdMain" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="mdContent">
            </div>
        </div>
    </div>
</div>
<!-- Data Table JS
        ============================================ -->
<script src="@Url.Content("~/Scripts/data-table/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/data-table-act.js")"></script>

<script>

</script>
